.header {
  background-color: #141024;
  height: 1250px;
  width: 100vw;
  box-sizing: border-box;
}

@media (max-width: 1440px) {
  .header {
    height: auto;
    width: 100vw;
  }
}

@media (max-width: 1024px) {
  .header {
    height: auto;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
    width: 100vw;
  }
}
