.information-main {
  background-color: #f9f9f9;
  width: 1920px;
  height: 485px;
  top: 1694px;
  left: -1px;
}

.information-main-text {
}

.information-main-title {
  font-family: Jost;
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  letter-spacing: 0%;
  margin-left: 100px;
}

.information-main-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  box-sizing: border-box;
  margin-left: 100px;
  gap: 10px;
}

.information-main-card-title {
    font-family: Jost;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0%;
    color:#141024;
    
}

.about-main-card-text {
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    color:#141024B2;
    width: 360px;
height: 87px;
top: 1992px;
left: 1180px;
}

    
